<a href="https://colab.research.google.com/github/PatrickRuan/3rd-ML100Days/blob/master/homework/Day_005_1_HW_done.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [0]:
import pandas as pd
import numpy as np

prmin = 500000
prmax = 1000000000

In [0]:
np.random.randint(prmin, prmax,5)

array([277566486, 214498315, 164312610, 558588862, 104750557])

In [0]:
round(2.3432,2)

2.34

In [0]:
data = {'國家': range(5) ,
        '人口':np.random.randint(prmin, prmax, 5) }
data = pd.DataFrame(data)

In [0]:
data

   國家         人口
0   0   99940585
1   1  375317320
2   2  911643005
3   3  849064615
4   4  900716366

In [9]:
# zip mothed
col1=[]
col2=[]
for i in range(5):
  country = 'country'+str(i)
  col1.append(country)
  col2.append(np.random.randint(prmin,prmax,1))
print(col1)
print(col2)
label = ['country','population']
data = [col1, col2]
df = list(zip(label,data))
label = ['country','population']
df = pd.DataFrame(dict(df))

['country0', 'country1', 'country2', 'country3', 'country4']
[array([21793174]), array([206217842]), array([58441245]), array([439173647]), array([228764117])]

In [10]:
df

    country   population
0  country0   [21793174]
1  country1  [206217842]
2  country2   [58441245]
3  country3  [439173647]
4  country4  [228764117]