<a href="https://colab.research.google.com/github/PatrickRuan/3rd-ML100Days/blob/master/homework/Day_025_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察均值編碼的效果

# [作業重點]
- 仿造範例, 完成標籤編碼與均值編碼搭配邏輯斯迴歸的預測
- 觀察標籤編碼與均值編碼在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次

In [5]:
from google.colab import drive
drive.mount('/content/drive/')
root = 'drive/My Drive/'
learning = root + '學習/'
data_path = learning + 'Part02/'
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

   Pclass                                               Name  ... Cabin  Embarked
0       3                            Braund, Mr. Owen Harris  ...   NaN         S
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2       3                             Heikkinen, Miss. Laina  ...   NaN         S
3       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4       3                           Allen, Mr. William Henry  ...   NaN         S

[5 rows x 10 columns]

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

   Pclass                                               Name  ... Cabin  Embarked
0       3                            Braund, Mr. Owen Harris  ...   NaN         S
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2       3                             Heikkinen, Miss. Laina  ...   NaN         S
3       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4       3                           Allen, Mr. William Henry  ...   NaN         S

[5 rows x 10 columns]

In [6]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

                                                Name     Sex  ... Cabin Embarked
0                            Braund, Mr. Owen Harris    male  ...  None        S
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  ...   C85        C
2                             Heikkinen, Miss. Laina  female  ...  None        S
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  ...  C123        S
4                           Allen, Mr. William Henry    male  ...  None        S

[5 rows x 5 columns]

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

                                                Name     Sex  ... Cabin Embarked
0                            Braund, Mr. Owen Harris    male  ...  None        S
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  ...   C85        C
2                             Heikkinen, Miss. Laina  female  ...  None        S
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  ...  C123        S
4                           Allen, Mr. William Henry    male  ...  None        S

[5 rows x 5 columns]

# 作業2
* 觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?

In [12]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸

import warnings
warnings.filterwarnings('ignore')

df_temp = pd.DataFrame()
le = LabelEncoder()
for col in object_features:
  df_temp[col] = le.fit_transform(df[col])

X = df_temp[:train_num]
  
model = LogisticRegression()
start = time.time()
print(f'shape : {X.shape}')
print(f'score : {cross_val_score(model, X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.7788748937419742
time : 0.03547525405883789 sec

In [16]:
# 均值編碼 + 邏輯斯迴歸

data = pd.concat([df[:train_num], train_Y], axis=1)
for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
data = data.drop(['Survived'] , axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 1.0
time : 0.028224945068359375 sec

In [18]:
data

     Name_mean  Sex_mean  Ticket_mean  Cabin_mean  Embarked_mean
0            0  0.188908         0.00    0.299854       0.336957
1            1  0.742038         1.00    1.000000       0.553571
2            1  0.742038         1.00    0.299854       0.336957
3            1  0.742038         0.50    0.500000       0.336957
4            0  0.188908         0.00    0.299854       0.336957
5            0  0.188908         0.00    0.299854       0.389610
6            0  0.188908         0.00    0.000000       0.336957
7            0  0.188908         0.00    0.299854       0.336957
8            1  0.742038         1.00    0.299854       0.336957
9            1  0.742038         0.50    0.299854       0.553571
10           1  0.742038         1.00    0.500000       0.336957
11           1  0.742038         1.00    1.000000       0.336957
12           0  0.188908         0.00    0.299854       0.336957
13           0  0.188908         0.00    0.299854       0.336957
14           0  0.742038         0.00    0.299854       0.336957
15           1  0.742038         1.00    0.299854       0.336957
16           0  0.188908         0.00    0.299854       0.389610
17           1  0.188908         1.00    0.299854       0.336957
18           0  0.742038         0.00    0.299854       0.336957
19           1  0.742038         1.00    0.299854       0.553571
20           0  0.188908         0.00    0.299854       0.336957
21           1  0.188908         1.00    1.000000       0.336957
22           1  0.742038         1.00    0.299854       0.389610
23           1  0.188908         1.00    1.000000       0.336957
24           0  0.742038         0.00    0.299854       0.336957
25           1  0.742038         0.75    0.299854       0.336957
26           0  0.188908         0.00    0.299854       0.553571
27           0  0.188908         0.50    0.500000       0.336957
28           1  0.742038         1.00    0.299854       0.389610
29           0  0.188908         0.00    0.299854       0.336957
..         ...       ...          ...         ...            ...
861          0  0.188908         0.00    0.299854       0.336957
862          1  0.742038         1.00    1.000000       0.336957
863          0  0.742038         0.00    0.299854       0.336957
864          0  0.188908         0.00    0.299854       0.336957
865          1  0.742038         1.00    0.299854       0.336957
866          1  0.742038         1.00    0.299854       0.553571
867          0  0.188908         0.00    0.000000       0.336957
868          0  0.188908         0.00    0.299854       0.336957
869          1  0.188908         1.00    0.299854       0.336957
870          0  0.188908         0.00    0.299854       0.336957
871          1  0.742038         1.00    1.000000       0.336957
872          0  0.188908         0.00    0.500000       0.336957
873          0  0.188908         0.00    0.299854       0.336957
874          1  0.742038         0.50    0.299854       0.553571
875          1  0.742038         1.00    0.299854       0.553571
876          0  0.188908         0.00    0.299854       0.336957
877          0  0.188908         0.00    0.299854       0.336957
878          0  0.188908         0.00    0.299854       0.336957
879          1  0.742038         1.00    1.000000       0.553571
880          1  0.742038         1.00    0.299854       0.336957
881          0  0.188908         0.00    0.299854       0.336957
882          0  0.742038         0.00    0.299854       0.336957
883          0  0.188908         0.00    0.299854       0.336957
884          0  0.188908         0.00    0.299854       0.336957
885          0  0.742038         0.00    0.299854       0.389610
886          0  0.188908         0.00    0.299854       0.336957
887          1  0.742038         1.00    1.000000       0.336957
888          0  0.742038         0.00    0.299854       0.336957
889          1  0.188908         1.00    1.000000       0.553571
890          0  0.188908         0.00    0.299854       0.389610

[891 rows x 5 columns]